.test1 {
  background-color: aquamarine;
}

.test2 {
  background-color: rgb(255, 238, 127);
}

.test3 {
  background-color: rgb(127, 142, 255);
}

.test4 {
  background-color: rgb(229, 127, 255);
}

.test5 {
  background-color: rgb(255, 127, 193);
}

.test6 {
  background-color: rgb(255, 127, 127);
}
